/*Переменные*/
/*Примеси*/
.clearfix {
  clear: both;
  content: "";
  display: block;
}
.ov {
  overflow: hidden;
}
/*Готовые классы*/
.h-heading {
  border-bottom: 2px solid #ff9902;
  margin-bottom: 14px;
}
.h-heading__text {
  font-size: 19px;
  color: #3d3d3d;
  padding-bottom: 2px;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/*normalize css */
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'OpenSans', Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}
p {
  color: #3d3d3d;
  line-height: 1.5;
  font-size: 14px;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic.eot');
  src: local('☺'), url('../fonts/OpenSans-Italic.woff') format('woff'), url('../fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular.eot');
  src: local('☺'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('☺'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.eot');
  src: local('☺'), url('../fonts/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.header {
  background-image: url(../img/header.jpg);
  max-width: 1920px;
  width: 100%;
  height: 490px;
  background-position: center;
  margin-bottom: 20px;
}
.header__inner {
  margin: 0 auto;
  width: 1000px;
  height: 490px;
  position: relative;
}
.up-header {
  padding-top: 16px;
}
.up-header__logo {
  float: left;
  width: 240px;
  padding-top: 8px;
}
.up-header__right-part {
  margin-left: 240px;
}
.up-header:after {
  clear: both;
  content: "";
  display: block;
}
.header-up {
  overflow: hidden;
  margin-bottom: 10px;
}
.header-up__lang {
  font-size: 12px;
  float: right;
  color: #7d7d7d;
  line-height: 12px;
  margin-top: 10px;
}
.header-up__lang:hover {
  color: #262626;
}
.header-up__lang--borderd {
  border-right: 1px solid #262626;
  margin-right: 8px;
  padding-right: 8px;
}
.header-up__lang--active {
  color: #262626;
  text-decoration: underline;
}
.header-tel {
  float: right;
  color: #525252;
  font-weight: bold;
  font-size: 18px;
  margin-left: 60px;
  border-bottom: 2px dashed #525252;
}
.header-tel:hover {
  color: #3d3d3d;
}
.header-tel__small {
  font-size: 13px;
}
.menu {
  margin-left: 40px;
  float: left;
}
.menu__item {
  float: left;
  margin-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item a {
  color: #020000;
  line-height: 30px;
  margin: 1px;
}
.menu__item a:hover {
  text-decoration: underline;
}
.menu__item--active a {
  background-color: #93d410;
  color: #fff;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  padding: 0 12px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.36);
  background-image: linear-gradient(to top, #639400 0%, #a0e415 100%);
}
.menu__item--active a:hover {
  background-image: linear-gradient(to top, #5d8b01 0%, #97d814 100%);
}
.menu__item--active a:after {
  content: "";
  position: absolute;
  right: -12px;
  top: -5px;
  background-image: url(../img/zerno.png);
  width: 26px;
  height: 40px;
}
.menu:after {
  content: "";
  clear: both;
}
.menu__item--active a:hover {
  text-decoration: none;
}
.header-text {
  position: absolute;
  top: 50%;
  width: 594px;
  height: 134px;
  left: -56px;
  margin-top: -50px;
  background-image: url(../img/zerno_header.png);
}
.header-text__h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 25px;
  color: #fff;
  margin: 46px 0 0 131px;
}
.header-text__h1 span {
  color: #ffa701;
}
.main {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.about-mini {
  overflow: hidden;
  margin-bottom: 25px;
}
.about-mini__figure {
  float: left;
  width: 32.5%;
}
.about-mini__figure img {
  max-width: 100%;
}
.about-text {
  float: left;
  width: 64.5%;
  margin-left: 3%;
}
.about-text__p {
  margin-bottom: 15px;
  text-indent: 12px;
}
.btn {
  border-radius: 4px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  padding: 5px 18px;
  display: inline-block;
  margin-bottom: 6px;
  background-image: linear-gradient(to top, #639400 0%, #a0e415 100%);
  position: relative;
}
.btn:after {
  content: "";
  position: absolute;
  right: -12px;
  top: -5px;
  background-image: url(../img/zerno.png);
  width: 26px;
  height: 40px;
}
.btn:hover {
  background-image: linear-gradient(to top, #5d8b01 0%, #97d814 100%);
}
.h-center-heading {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
}
.h-center-heading__text {
  position: relative;
  display: inline-block;
  font-size: 19px;
  color: #3d3d3d;
  padding: 0 10px;
}
.h-center-heading__text:before,
.h-center-heading__text:after {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  top: 50%;
  border-bottom: 2px solid #ff9902;
}
.h-center-heading__text:before {
  left: 100%;
}
.h-center-heading__text:after {
  right: 100%;
}
.production-main {
  margin-bottom: 25px;
}
.production-list {
  overflow: hidden;
  font-size: 0;
}
.production-list__item {
  display: inline-block;
  vertical-align: top;
  width: 28.2%;
  margin-right: 7.7%;
}
.production-list__item:last-child {
  margin-right: 0;
}
.production-image {
  margin-bottom: 18px;
}
.production-image__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: -12px;
}
.production-maintext {
  text-align: center;
}
.production-maintext__heading {
  border-bottom: 1px solid #3d3d3d;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #3d3d3d;
  margin-bottom: 8px;
}
.production-maintext__heading:hover {
  border-bottom: 1px dashed #3d3d3d;
}
.partners {
  margin-bottom: 25px;
}
.partners-slider {
  overflow: hidden;
}
.partner-slide {
  float: left;
  width: 13.5%;
}
.partner-slide__img {
  display: block;
  margin: 0 auto;
}
.header--mini {
  height: 112px;
  background-position: top center;
  margin-bottom: 30px;
}
.header--mini .header__inner {
  height: auto;
}
.production-aside {
  width: 30.5%;
  float: left;
  margin-right: 2.5%;
}
.production-aside__inner {
  background-color: #ffeed4;
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
  padding: 25px 25px 6px 25px;
}
.aside-heading {
  color: #ff9902;
  border-bottom: 2px solid #ff9902;
  font-size: 16px;
  display: block;
  padding-bottom: 2px;
  font-weight: bold;
  margin-bottom: 12px;
}
.cultrure-list {
  margin-bottom: 18px;
}
.cultrure-list__li {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 13px;
}
.cultrure-list__li a {
  color: #565656;
}
.cultrure-list__li a:hover {
  text-decoration: underline;
}
.cultrure-list__li:before {
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -2px;
  margin: 0 7px 0 5px;
  background-color: #78b007;
}
.cultrure-part {
  float: left;
  width: 67%;
}
.culture-ul {
  margin-bottom: 30px;
  position: relative;
}
.culture-ul__row {
  margin-bottom: 20px;
  margin-left: -10px;
}
.culture-ul__row:after {
  content: "";
  clear: both;
  display: block;
}
.culture-ul__row:last-child {
  margin-bottom: 0;
}
.row-figure {
  float: left;
  width: 40%;
}
.row-figure img {
  width: 95%;
  margin-right: 5%;
}
.row-des {
  margin-top: 25px;
  float: left;
  width: 60%;
}
.row-des__heading {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #3d3d3d;
}
.row-des__text {
  margin: 10px 0 14px 0;
}
.about-company__heading {
  color: #ff9600;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin-bottom: 12px;
  font-size: 13px;
}
.procces-ul {
  margin-bottom: 25px;
}
.procces-ul__item {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 30px;
  position: relative;
}
.procces-ul__item:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 5px;
  background-image: url(../img/proccess_ico.png);
  width: 14px;
  height: 14px;
}
.structure-row {
  margin-bottom: 80px;
  font-size: 0;
}
.structure-row--center {
  text-align: center;
}
.structure-row--left {
  text-align: left;
}
.structure-row--right {
  text-align: right;
}
.structure-row__item {
  width: 215px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.structure-row--center .structure-row__item {
  margin: 0 45px;
}
.structure-row--right .structure-row__item {
  margin-left: 35px;
  width: 200px;
}
.structure-row--left .structure-row__item {
  width: 200px;
  margin-right: 35px;
}
.structure-inner {
  padding: 6px 5px 0 5px;
  height: 44px;
  background-color: #fdbd10;
  background-image: linear-gradient(to top, #639400 0%, #8bc80e 100%);
  border-radius: 8px;
  font-size: 13px;
  color: #fff;
  line-height: 18px;
  font-weight: 700;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.36);
}
.structure-inner--with-bot:after {
  content: "";
  background-image: url(../img/grain_vertical.png);
  height: 41px;
  width: 12px;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 100%;
}
.structure-inner--with-lineone:before {
  content: "";
  background-image: url(../img/grain_horizontal.png);
  height: 10px;
  width: 477px;
  position: absolute;
  left: -126px;
  z-index: 5;
  top: 100%;
  margin-top: 37px;
}
.structure-inner--with-top:before {
  content: "";
  background-image: url(../img/grain_vertical.png);
  height: 41px;
  width: 12px;
  margin-left: -12px;
  position: absolute;
  left: 50%;
  bottom: 100%;
}
.structure-inner--with-linetwo:after {
  content: "";
  background-image: url(../img/grain_horizontal.png);
  height: 10px;
  width: 476px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  z-index: 5;
  top: 0;
  margin-top: -44px;
}
.news-part {
  overflow: hidden;
}
.news-part__news {
  float: left;
  width: 67%;
  margin-right: 3%;
}
.news-part__aside {
  float: left;
  width: 30%;
}
.big-news {
  margin-bottom: 25px;
}
.big-news__item {
  overflow: hidden;
  margin-bottom: 25px;
}
.big-news__item:last-child {
  margin-bottom: 0;
}
.news-text {
  float: left;
  width: 56%;
}
.news-text__heading {
  color: #3d3d3d;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
  padding-top: 10px;
  display: block;
  text-decoration: underline;
}
.news-text__p {
  margin-bottom: 15px;
  max-height: 200px;
  overflow: hidden;
}
.news-figure {
  border: 2px solid #ff9902;
  overflow: hidden;
  border-radius: 5px;
  float: left;
  width: 40%;
  margin-right: 3%;
  height: 200px;
}
.news-figure img {
  width: 100%;
}
.news-list {
  padding-left: 10px;
  margin-top: 5px;
}
.news-list__item {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
}
.news-list__item a {
  color: #565656;
}
.news-list__item:hover {
  text-decoration: underline;
}
.news-list__item:before {
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -3px;
  margin: 0 7px 0 5px;
  background-color: #78b007;
}
.news-aside {
  background-color: #ffeed4;
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
  padding: 25px 20px 6px 20px;
}
.news-content {
  margin-bottom: 25px;
}
.news-content img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.news-content__heading {
  font-size: 18px;
  margin-bottom: 10px;
}
.news-content p {
  margin-bottom: 8px;
  text-indent: 10px;
}
.contacts {
  overflow: hidden;
}
.contacts__map {
  float: left;
  width: 50%;
  height: 300px;
  border: 1px solid #ccc;
  margin-right: 2%;
}
.footer {
  background-color: #2d2d2e;
}
.footer__inner {
  margin: 0 auto;
  width: 1000px;
  padding: 14px 0;
  overflow: hidden;
}
.footer-left {
  float: left;
  overflow: hidden;
}
.footer-left__img {
  float: left;
  margin-right: 12px;
}
.footer-left__text {
  color: #fff;
  font-size: 13px;
  padding-top: 14px;
  display: block;
  float: left;
}
.footer-right {
  float: right;
  padding-top: 6px;
  overflow: hidden;
}
.footer-right__img {
  float: right;
  margin-left: 12px;
}
.footer-right__text {
  color: #fff;
  font-size: 13px;
  float: right;
  display: block;
  padding-top: 10px;
}
@media screen and (max-width: 1020px) {
  .header__inner {
    width: auto;
  }
  .up-header {
    background-color: rgba(0, 0, 0, 0.34);
    padding: 15px 20px 15px 20px;
    height: 65px;
    position: relative;
  }
  .up-header__logo {
    position: absolute;
    left: 50%;
    margin-left: -111px;
    padding-top: 0;
  }
  .mob_start {
    float: left;
    width: 35px;
    height: 70px;
    background-image: url(../img/menu.svg);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .menu__item {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .mob_active .menu {
    display: block;
    position: absolute;
    left: 7px;
    top: 90px;
    width: 200px;
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.54);
    z-index: 2;
    margin-left: 0;
    background-color: #ffffff;
  }
  .mob_active .menu:after {
    position: absolute;
    top: -9px;
    left: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 10px 8.5px;
    border-color: transparent transparent #ffffff transparent;
  }
  .mob_active .mob_start {
    background-image: url(../img/close.svg);
  }
  .header-up {
    float: right;
  }
  .header-up__lang {
    display: none;
  }
  .header-tel {
    color: #fff;
    font-size: 25px;
    margin-top: 13px;
    border-bottom-color: #fff;
  }
  .header-tel:hover {
    color: #fff;
  }
  .header-text {
    left: 15px;
  }
  .main {
    width: auto;
    padding: 0 20px 60px 20px;
  }
  .structure {
    margin: 0 auto;
    max-width: 800px;
  }
  .structure-row {
    margin-right: -20px;
  }
  .structure-row--center,
  .structure-row--right {
    text-align: left;
  }
  .structure-row .structure-row__item {
    width: 33.3%;
    margin: 0;
  }
  .structure-inner {
    margin-right: 20px;
  }
  .structure-inner--with-lineone:before {
    left: -51%;
    width: 202%;
  }
  .structure-inner--with-top:before {
    margin-left: -6px;
  }
  .structure-inner--with-linetwo:after {
    margin-left: 0;
    width: 201%;
  }
  .footer__inner {
    width: auto;
    padding: 15px 20px;
  }
}
