@import "components/variables.less";
@import "components/normalize.less";
@import "components/typography.less";
@import "plugins/slick.less";
@import "plugins/animate.less";
html,body{
	height:100%;
}
.wrapper{
	position:relative;
	min-height:100%;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.header{
	background-image:url(../img/header.jpg);
	max-width:1920px;
	width:100%;
	height:510px;
	background-position:center;
	margin:0 auto 20px auto;
	&__inner{
		margin:0 auto;
		width:1000px;
		height:490px;
		position:relative;
	}
}
.up-header{
	padding-top:16px;
	&__logo{
		float:left;
		width:223px;
		padding-top:8px;
	}
	&__right-part{
		margin-left:240px;
	}
	&:after{
		.clearfix();
	}
}
.header-up{
	overflow:hidden;
	margin-bottom:10px;
	&__lang{
		font-size:12px;
		float:right;
		color:#7d7d7d;
		line-height: 12px;
		margin-top:10px;
		&:hover{
				color:#262626;
		}
	}
	&__lang--borderd{
	    border-right: 1px solid #262626;
 			margin-right: 8px;
  		padding-right: 8px;
	}
	&__lang--active{
		color:#262626;
		text-decoration:underline;
	}
}
.header-tel{
	float:right;
	color:#525252;
	font-weight:bold;
	font-size:18px;
	margin-left:60px;
	border-bottom:2px dashed #525252;
	&:hover{
		color:#3d3d3d;
	}
	&__small{
		font-size:13px;
	}
}
.menu{
	margin-left:35px;
	float:left;
	&__item{
			float:left;
			margin-left:22px;
			font-size:12px;
			text-transform:uppercase;
			font-weight:bold;
	}
	&__item:last-child{
		margin-right:0;
	}
	&__item a{
		color:@menu-color;
		line-height:30px;
		margin:1px;
	}
	&__item a:hover{
		text-decoration:underline;
	}
	&__item--active a{
    background-color: #93d410;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
    position:relative;
    padding:0 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.36);
    background-image: linear-gradient(to top, #639400 0%, #a0e415 100%);
    &:hover{
    	background-image: linear-gradient(to top, #5d8b01 0%, #97d814 100%);
    }
	}
	&__item--active a:after{
    content: "";
    position: absolute;
    right: -12px;
    top: -5px;
    background-image: url(../img/zerno.png);
    width: 26px;
    height: 40px;
	}
	&:after{
		content:"";
		clear:both;	
	}
	&__item--active a:hover{
		text-decoration:none;
	}	
}
.header-text{
		position: absolute;
    top: 50%;
  	width:594px;
  	height:134px;	
  	left:-56px;
  	margin-top:-50px;
    background-image:url(../img/zerno_header.png);
    &__h1{
				font-weight: bold;
	    	text-transform: uppercase;
	    	font-size: 19px;
	    	line-height: 25px;
	    	color: #fff;
	    	margin: 46px 0 0 131px;
    }
    &__h1 span{
    	color:#ffa701;
    }	
}
.main{
	width:1000px;
	margin:0 auto;
	padding-bottom:60px;
}
.about-mini{
	overflow:hidden;
	margin-bottom: 25px;
		&__figure{
			float: left;
    	width: 32.5%;
		}
		&__figure img{
			max-width:100%;
		}
}
.about-text{
	    float: left;
    width: 64.5%;
    margin-left: 3%;
	&__p{
		margin-bottom:15px;
		margin-top: -3px;
	}
}
.btn{
		border-radius: 4px;
    background-color: green;
    color: #fff;
    font-size: 14px;
    padding: 5px 18px;
    display: inline-block;
    margin-bottom: 6px;
    background-image: linear-gradient(to top, #639400 0%, #a0e415 100%);
    position: relative;
	&:after{
		content: "";
    position: absolute;
    right: -12px;
    top: -5px;
    background-image: url(../img/zerno.png);
    width: 26px;
    height: 40px;
	}
	&:hover{
		 background-image: linear-gradient(to top, #5d8b01 0%, #97d814 100%);
	};
}


.h-center-heading{
	position:relative;
	overflow:hidden;
	text-align:center;
	margin-bottom:20px;
	&__text{
		position:relative;
		display:inline-block;
		font-size: 19px;
    color: #3d3d3d;
		padding:0 10px;
	}
	&__text:before,&__text:after{
		content:"";
		display:block;
		position:absolute;
		width:1000px;
		top:50%;
		border-bottom:2px solid #ff9902;	
	}
	&__text:before{
		left:100%;
	}
	&__text:after{
		right:100%;
	}
}
.production-main{
	margin-bottom:25px;
}
.production-list{
		font-size:0;
		&__item{
			display:inline-block;
			vertical-align:top;
			width:28.2%;
			margin-right:7.7%;
		}
		&__item:last-child{
			margin-right:0;
		}
		&:after{
			.clearfix();
		}
}
.production-image{
	margin-bottom:18px;
	&__img{
			max-width:100%;
			display:block;
			margin:0 auto;
			position:relative;
			left:-12px;
	}	
}
.production-maintext{
	text-align:center;
	&__heading{
		border-bottom:1px solid #3d3d3d;
		font-weight:bold;
		display:inline-block;
		text-transform:uppercase;
		font-size:14px;
		color:#3d3d3d;
		margin-bottom:8px;
		&:hover{
			border-bottom:1px dashed #3d3d3d;
		}
	}
}
.partners{
	margin-bottom:25px;
}
.partners-slider{
		overflow:hidden;	
}
.partner-slide{
	float:left;
	width:13.5%;
	&__img{
		display:block;
		margin:0 auto;
	}
}
.header--mini{
	height:112px;
	background-position:top center;
	margin-bottom: 30px;
	.header__inner{
		height:auto;
	}
}
.production-aside{
	width:30.5%;
	float:left;
	margin-right:2.5%;
	&__inner{
    background-color: #ffeed4;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
    padding:25px 25px 6px 25px;
	}
}
.aside-heading{
	color:#ff9902;
	border-bottom:2px solid #ff9902;
	font-size:16px;
	display:block;
	padding-bottom:2px;
	font-weight:bold;
	margin-bottom:12px;
}
.cultrure-list{
	margin-bottom:18px;
	&__li{
		margin-bottom:6px;
		font-weight:bold;
		font-size:13px;
	}
	&__li a{
		color:#565656;
		&:hover {
			text-decoration:underline;
		}
	}
	&__li:before{
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin:0 7px 0 5px;
    background-color: #78b007;
	}
}
.content{
	margin-bottom:30px;
}
.content p {
	margin-bottom:12px;
}
.content ul{
	list-style:disc;
	margin-bottom:12px;
	font-size:14px;
}
.content ul li{
	margin-left:16px;
	margin-bottom:4px;
}
.content .unis{
	font-weight:bold;
}
.cultrure-part{
	float:left;
	width:67%;
}	
.culture-ul{
	margin-bottom:30px;
	position:relative;
	&__row{
		margin-bottom:20px;
		margin-left:-10px;
	}
	&__row:after{
		content:"";
		clear:both;
		display:block;
	}
	&__row:last-child{
		margin-bottom:0;
	}
}
.row-figure{
	float:left;
	width:40%;
	&__img{
			width:95%;
			margin-right:5%;
	}
}
.row-des{
	margin-top:25px;
	float:left;
	width:60%;
	&__heading{
		text-decoration:underline;
		text-transform:uppercase;
		font-weight:bold;
		font-size:14px;
		color:#3d3d3d;
	}
	&__text{
		margin:10px 0 14px 0;
	}
}
.about-company{
	&__heading{
		color:#ff9600;
		text-transform:uppercase;
		font-weight:bold;
		font-size:12px;
		display:block;
		margin-bottom:12px;
		font-size:13px;
	}
}
.procces-ul{
	margin-bottom:25px;
	&__item{
		margin-bottom:15px;
		font-size:14px;
		line-height: 1.5;
		margin-left:30px;
		position:relative;
	}
	&__item:before{
		content:"";
		position:absolute;
		left:-30px;
		top:5px;
		background-image:url(../img/proccess_ico.png);
		width:14px;
		height:14px;
	}
}
.structure-row{
	margin-bottom:80px;
	font-size:0;
	&--center{
		text-align:center;
	}
	&--left{
		text-align:left;
	}
	&--right{
		text-align:right;
	}
	&__item{
			width:215px;
			display:inline-block;
   	 	vertical-align:top;
   	 	text-align: center;
   	 	position:relative;
	}
	&--center &__item{
		margin:0 45px;
	}
	&--right &__item{
		margin-left:35px;
		width:200px;
	}
	&--left &__item{
		width:200px;
		margin-right:35px;
	}
}
.structure-inner{
    padding: 6px 5px 0 5px;
    height: 44px;
    background-color: #fdbd10;
    background-image: linear-gradient(to top, #639400 0%, #8bc80e 100%);
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.36);
}
.structure-inner--with-bot:after{
    content: "";
    background-image: url(../img/grain_vertical.png);
    height: 41px;
    width: 12px;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 100%;
}
.structure-inner--with-lineone:before{
    content: "";
    background-image: url(../img/grain_horizontal.png);
    height: 10px;
    width: 477px;
    position: absolute;
    left: -126px;
    z-index: 5;
    top: 100%;
    margin-top: 37px;
}
.structure-inner--with-top:before{
	content:"";
	background-image:url(../img/grain_vertical.png);
	height:41px;
	width:12px;
	margin-left:-12px;
	position:absolute;
	left:50%;
	bottom:100%;
}
.structure-inner--with-linetwo:after{
		content: "";
    background-image: url(../img/grain_horizontal.png);
    height: 10px;
    width: 476px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    z-index: 5;
    top: 0;
    margin-top: -44px;
}
.news-ul{
	overflow:hidden;
	margin-right:-25px;
}
.news-li{
	float:left;
	width:33.3%;
	&__inner{
		margin-right:25px;
		margin-bottom:30px;
	}
}
.news-text{
	&__heading{
		color:#3d3d3d;
		font-weight:bold;
		margin-bottom:8px;
		font-size:16px;
		padding-top:10px;
		display:block;
		text-decoration:underline;
	}
	&__p{
		margin-bottom:15px;
		max-height:200px;
		overflow:hidden;
	}
}
.news-figure{
	border:2px solid #ff9902;
	overflow:hidden;
	margin-right:2px;
	border-radius:5px;
	height:200px;
}
.news-figure img{
	width:100%;
}


.news-content{
	margin-bottom:25px;
	overflow:hidden;
		& img{
		float:left;
		margin-right:10px;
		margin-bottom:5px;
		}
		&__heading{
			font-size:18px;
			margin-bottom:10px;
		}
		& p{
			margin-bottom:8px;
			text-indent:10px;
		}
}

.scheme-row{
	overflow:hidden;
	margin-bottom:25px;
	&__img{
		max-width:30%;
	}
	&__img--fl-l{
		float:left;
		margin-right:2%;
	}
	&__img--fl-r{
		float:right;
		margin-left:2%;
	}
}
.scheme-text{
	float:left;
	width:68%;
	&__heading{
		font-size:18px;
		font-weight:bold;
		margin-bottom:10px;
	}
}
.export{
	overflow:hidden;
	margin-bottom:30px;
	&__img{
		float:left;
		width:157px;
	}
	&__ul {
		margin-left:180px;
	}
	&__ul li{
		margin-bottom:6px;
		font-size:14px;
		color:#3d3d3d;
		font-weight:bold;
	}
}
.arrow_r{
    background-image: url(../img/arrow.png);
    width: 35px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0 2px;
}
.contacts{
	overflow:hidden;
	margin-bottom:30px;
	&__map{
		float:left;
		width:50%;
		height:300px;
		border:2px solid #ff9902;
		border-radius:5px;
		margin-right:2%;
	}
}
.contacts-text{
	    float: right;
    width: 47%;
	&__heading{
		font-weight:bold;
		margin-bottom:12px;
		display:block;
	}
}
.cont_ul li{
	margin-bottom:5px;
	font-size:14px;
}


.footer{
	background-color:#2d2d2e;
	&__inner{
		margin:0 auto;
		width:1000px;
		padding:14px 0;
		overflow:hidden;
	}
}
.footer-left{
		float:left;
		overflow:hidden;
		&__img{
				float:left;
				margin-right:12px;
		}
		&__text{
			color:#fff;
			font-size:13px;
			padding-top:14px;
			display:block;
			float:left;
		}
}
.footer-right{
		float:right;
		padding-top:6px;
		overflow:hidden;
		&__img{
				float:right;
				margin-left:12px;
		}
		&__text{
			color:#fff;
			font-size:13px;
			float:right;
			display:block;
			padding-top:10px;
		}	
}

@media screen and (max-width:1080px){
		.header{
			padding: 24.6% 0;
			height:auto;
			background-size:cover;
			position:relative;
			margin-top:81px;
			background-position: 50% 50%;
			image-rendering: -moz-crisp-edges;         /* Firefox */
			image-rendering:   -o-crisp-edges;         /* Opera */
			image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
			image-rendering: crisp-edges;
			-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
			&__inner{
				position:absolute;
				left:0;
				right:0;
				width:auto;
				top:-81px;
				height:auto;
				padding-bottom: 49.2%;
			}
		}
		.header--mini{
			padding:0;
			margin-bottom:25px;
			margin-top:0;
			& .header__inner{
				padding-bottom:0;
				position:static;
			}
		}
		.up-header{
		background-color: rgb(45, 45, 46);
    padding: 15px 20px 15px 20px;
    position:relative;
    &__logo{
    	position:absolute;
    	left:50%;
    	margin-left:-90px;
    	padding-top:0;
    	background-image:url(../img/fergus_white.png);
    	width:180px;
    	height:52px;
    	& img{
    		display:none;
    	}
    }
    .header-up{
    	margin-bottom:0;
    }
	}
	.mob_start{
    float: left;
    width: 28px;
    height: 51px;
    background-image: url(../img/menu.svg);
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
	}
	.menu{
		display:none;
		&__item{
			float:none;
			margin-left:0;
			text-align:center;
			margin-bottom:10px;
		}
	}
	.mob_active .menu{
    display: block;
    position: absolute;
    left: 7px;
    top: 76px;
    width: 200px;
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.54);
    z-index: 2;
    margin-left: 0;
    background-color: #ffffff;
	}
	.mob_active .menu:after{
    position: absolute;
    top: -9px;
    left: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 10px 8.5px;
    border-color: transparent transparent #ffffff transparent;
	}
	.mob_active .mob_start{
		background-image:url(../img/close.svg);
	}
	.header-up{
		float:right;
		&__lang{
			display:none;
		}
	}
	.header-tel{
		color:#fff;
		font-size:25px;
		margin-top:6px;
		border-bottom-color:#fff;
		&:hover{
			color:#fff;
		}
	}
	.header-text{
		left:15px;
	}
	.main{
		width:auto;
		padding:0 20px 60px 20px;
	}
	.structure {
    margin: 0 auto;
    max-width: 800px;
	}
	.structure-row{
		margin-right:-20px;
		&--center,&--right{
			text-align:left;
		}
		& &__item{
			width:33.3%;
			margin:0;
		}
	}
	.structure-inner{
		margin-right:20px;
		&--with-lineone:before{
			left: -51%;
    	width: 202%;
		}
		&--with-top:before{
			margin-left:-6px;
		}
		&--with-linetwo:after{
			margin-left:0;
			width:201%;
		}
	}
	.row-des {
    margin-top: 0;
    &__text{
    	max-height:108px;
    	overflow:hidden;
    }
  }
  .news-ul{
  		margin-right:-20px;
 	}
 	.news-li__inner{
 		margin-right:20px;
 	}



	.footer{
		&__inner{
			width:auto;
			padding:15px 20px;
		}

	}
}
@media screen and (max-width:850px){
		p {
			font-size:13px;
		}
		.header-text {
			  left: 5px;
			}

		.header-tel{
			font-size: 0;
    	background-image: url(../img/phone.svg);
    	background-size: 28px;
    	width: 28px;
    	background-position: center;
    	border-bottom: none;
    	height: 50px;
    	margin-top:0;
    	background-repeat: no-repeat;
			&__small{
				display:none;
			}
		}
		.production-list__item{
			width:31.1%;
			margin-right:3%;
		}
		.production-maintext__heading{
			font-size:13px;
		}
		.aside-heading span{
			display:none;
		}
		.row-des__text{
			max-height:98px;
			margin: 5px 0 6px 0;
		}
		.news-li{
			width:100%;
			margin-bottom:20px;
			overflow:hidden;
		}
		.news-figure{
			width:40%;
			margin-right:2%;
			float:left;
		}
		.news-text{
			float:left;
			width:56%;
		}
		.scheme-row{
				&__img{
					max-width:38%;
				}
			}
			.scheme-text{
				width:60%;
			}
		.footer-left{
			display:none;
		}
		.footer-right{
			width:327px;
			margin:0 auto;
			float:none;
		}
}
@media screen and (max-width:650px){
		.header-text{
			background-image:none;
    	background-color: rgba(0, 0, 0, 0.57);
   	 	padding: 15px 0px;
    	height: auto;
    	top: initial;
    	bottom: 0;
   	 	left: 0;
   		width: 100%;
    	right: 0;
   		margin-top: 0px;
    	text-align: center;
    	&__h1{
    		margin:0;
    	}
		}
		.about-mini{
			&__figure{
				display:none;
			}
		}
		.about-text{
			width:100%;
			margin-left:0;
		}
		.production-list__item{
			width:100%;
			margin-right:0;
			margin-bottom:20px;
		}
		.production-image{
			float:left;
			width:40%;
			margin-bottom:0;
		}
		.production-maintext{
			text-align:left;
			margin-left:40%;
			margin-top: 3%;
		}
		.production-aside{
			display:none;
		}
		.cultrure-part{
			width:100%;
		}
		.structure-row .structure-row__item--main{
			width:40%;
		}
		.structure-inner--with-lineone:before{
			left: -50%;
    		width: 202%;
		}
		.structure-row{
			margin-right:-10px;
		}
		.structure-inner{
			font-size:12px;
		}
		.structure-inner {
    		margin-right: 10px;
		}
		.contacts__map{
			width:100%;
			height:250px;
			box-sizing:border-box;
		}
		.contacts-text{
			margin-left:0;
			float:none;
			width:100%;
			margin-bottom:20px;
		}
		.scheme-row__img--fl-l{
			float:right;
		}
}

@media screen and (max-width:550px){
		.up-header__right-part {
  	  margin-left: 0px;
		}
		.header-text__h1{
			font-size:16px;
		}
		.production-image{
			width:100%;
			float:none;
			&__img{
				max-width:100%;
				left:0px;
			}
		}
		.row-figure{
			width:100%;
			float:none;
			&__img{
				max-width:100%;
				left:0px;
				width:auto;
				display:block;
				margin:0 auto 10px auto;
			}
		}
		.row-des{
			width:100%;
			margin-left:0;
			text-align:center;
		}
		.production-maintext{
			width:100%;
			margin-left:0;
			text-align:center;
		}
		.footer-right{
			width:100%;
			text-align:center;
			&__img{
				display:none;
			}
			&__text{
				float:none;
				font-weight:bold;
				padding-top:0;
			}
		}
		.structure,.structure-heading{
			display:none;
		}
		.news-figure{
			width:80%;
			margin:0 auto 10px auto;
			float:none;
		}
		.news-text{
			float:none;
			width:100%;
			text-align:center;
		}
		.scheme-row__img{
			display:none;
		}	
		.scheme-text{
			width:100%;
		}
		.export__img{
			max-width:34%;
		}
		.export__ul{
			margin-left:38%;
		}
		.export__ul li{
			font-size:13px;
		}

}
@media screen and (max-width:390px){
		.header-text{
			display:none;
		}
		.header{
			margin-top:71px;
			&__inner{
				top:-71px;
			}
		}
		.header--mini{
			margin-top:0;
		}
		.up-header{
			padding:10px 15px;
				&__logo{
	    		width: 122px;
	  			margin-top: 8px;
	  			height: 30px;
	  			margin-left: -61px;
	  			background-position: right top;
				}
		}
		.news-figure{
			width:100%;
		}
		.mob_active .menu{
			top:67px;
		}
		.export__img{
			display:none;
		}
		.export__ul{
			margin-left:0px;
		}
}